body {background-color:#a0b1cb;font-family:'Open Sans', sans-serif;}

.-header {background-color:#1c5480;color:#fff;}
.-header .container {padding:0}
.-header h1 {margin:10px 0 15px;font-size:30px;}
.-header h1 span {font-size:12px;display:block;margin:1px 0 0 6px}

.-header-block, .-body-block {border-radius: 5px;border:1px solid #999;box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);}

.-header-block.container {background-color:#fff;margin-top:10px;padding-bottom:20px;}
.-description {margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee;}
.-info {margin-bottom:10px;}
.-info .glyphicon {font-size:24px;}
.-info .-info-val {position:relative;top:-5px;}

.-body-block.container {background-color:#fff;margin-top:20px;padding-bottom:40px;}
.-review-header, .-review-overall {background-color:#1c5480;color:#fff;padding:10px;margin-top:20px;border-radius:5px;}
.-review-header h3 {margin:0;padding:0}

.-body-block .pagination {float:right;}
.-showing {float:left;margin-top:26px;font-size:12px;font-weight:bold;}
.-review-loader {float:right;margin:27px 6px 0 0;display:none;}

.-review-overall {text-align:center;padding-bottom:20px;padding-top:10px;}
.-review-overall .-title {font-size:24px;}
.-review-overall .-score {font-size:80px;color:#f90;line-height:80px;margin:5px 0 7px;}
.-review-overall .-out-of {font-size:13px;}

#-review-hold {margin-top:20px;}
.-review {border-bottom:1px solid #eee;padding-bottom:20px;margin-bottom:20px;}
.-review:last-child {border-bottom:none;}
.-review-head .-review-icon {float:left;}
.-review-head h4 {float:left;margin:2px 0 0 10px;font-size:24px;}
.-review-head .-stars {float:right;}
.-review-body {margin-top:10px;}
.-review-time {font-size:12px;font-weight:bold;}

.-stars .glyphicon {font-size:16px;}
.-stars .glyphicon-star {color:#f90;}
.-stars .glyphicon-star-empty {color:#ccc;}

.-business-img {margin-top:20px;}

@media(max-width:767px) {
    .-body-block .pagination {margin-bottom:0;}
    .-showing {float:right;margin-top:10px;width:100%;text-align:right;}
}